article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

body {
  font-family: 'Source Sans Pro', serif;
  color: #333;
  margin: 0;
/* 
  border: 7px solid #444;
 */
  padding: 5px 0 0 0;
/* 
  background: url('images/bg1.gif') repeat-x;
 */
  border-top: 8px solid #FFC91A;
/* 
  border-bottom: 14px solid #2278CC;
 */
 background-color: #f9f9f9;
}

footer {
  background-color: #2278CC;
  padding: 13px 10px 8px 205px;
  color: #eee;
  font-size: 90%;
}

p, section li {
  line-height: 1.7;
  font-size: 100%
}

hr {
width: 150px;
border-bottom: 1px solid #ccc;
height: 1px;
margin: 0 auto;
}

a {
  color: #27c;
/*
  color: #1C62A6;
  color: #3A77B1;
*/
  font-weight: 600;
/*   text-decoration: underline; */
  text-decoration: none;
/*   border-bottom: 1px dotted #27c; */
}


a.source {
/*   color: #555; */
  font-weight: normal;
  font-style: italic;
}

nav, section h1 {
  font-family: arial, sans-serif;
  color: #333;
}

nav {
  position: fixed;
/*   width: 200px; */
padding-left: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 15px; 
}

nav li {
  padding: 1em 0;
  font-weight: bold;
  line-height: 1;
  font-size: 100%;
}

nav li a {
  text-decoration: none;
  color: #333;
  border-bottom: none;
}

main {
  padding: 0 0 0 195px;
  width: 638px;
  }

main li {
  padding: 5px 0;
}

main a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 6em;
  margin-top: 3em;
  padding: 0 10px;
   }

section h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}

main > h1 {
  font-family: arial, sans-serif;
/*   color: white; */
/*   background-color: #444; */
/*   margin: -5px -10px; */
  padding-top: 10px;
  margin: 0;
  text-align: center;
  display: none;
}

header {
/*   display: none; */
  text-align: center;
  margin: -20px;
/*   background-color: #444; */
  display: none;
  }

header h1 {
    padding:0;
/*     font-size: 18px; */
    margin: 0;
    color: #999;
/*     display: none; */
}


#connect li, #interests li {
  list-style-type: none;
  width: 192px;
/*   height: 96px; */
  height: 48px;
  float: left;
  clear: right;
  text-align: center;
  background-color: #eee;
  margin: 9px 9px;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #aaa;
  display: inline-block;
}
  

#connect li a, #interests li a {
  position: relative;
  top: 23%;
  padding: 0;
  margin: 0;
  display: block;
}

#connect li:hover, #interests li:hover {
border: 1px solid #bbb;
background-color: #f3f3f3;
/*
transform: scale(1.05, 1.05);
transition: .1s;
*/
  }


section ul {
	padding-left: 1em;
	list-style-type: circle;
}

#interests ul, #connect ul {
/*
   -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
*/
    padding-left: 0;
    display: inline-block;
    position: relative;
/*
    padding-left: -10px;
    padding-right: -10px;
*/
  margin-left: -9px;
  margin-right: -9px;
    margin-top: -5px;
    text-align: center;
}

li img {
max-height: 16px;
vertical-align: text-top;
padding-right: 4px;
padding-top: 2px;
}

li.tooltip {
  position: relative;
  display: inline;
}
li.tooltip span {
  position: absolute;
  width:auto;
  font-size: 14px;
  color: #FFFFFF;
  background: #222;
  height: auto;
  padding: 5px 10px;
  line-height: 1.3;
  text-align: center;
/*   visibility: hidden; */
  opacity: 0;
  border-radius: 4px;
}
li.tooltip span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #222;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
li:hover.tooltip span {
/*   visibility: visible; */
  opacity: 0.9;
  bottom: 57px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
/*   transition-delay: .1s; */
  transition-duration: .3s;
  transition-property: opacity;
}

time {
  color: #555;
  font-size: 95%;
}



@media (max-width: 750px) {
  body {
    margin: 0 auto;
  }
  
  nav {
    display: none;
  }
  
  main {
    padding: 5px;
    margin: 0 auto;
    width: auto;
    max-width: 740px;
  }

  main > h1 {
    display: block;
  }
  

  #connect li, #interests li {
  width: 93%;
  float: none;
  }

  #connect ul, #interests ul {
  text-align: center;
  margin: 0 auto;
  display: inherit;
  }


footer {
  padding-left: 10px;
}

}